<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting css -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- main styles -->
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <h1 class="main_header">
        <span class="tagline"></span>
        <a class="main" href="/" title="Home">Mustafa Steven Ascha</a>
      </h1>
    </header>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      <center>
      <p> <a href="mailto:mustafa.ascha@gmail.com" title="Email me">mustafa.ascha@gmail.com</a>  ---  <a href="GitHub: mustafaascha" title="See my work"> github.com/mustafaascha</a> </p>
      </center>
    </footer>
  </div>
</body>
</html>
